<!DOCTYPE html>
<html lang="en">
{{template "template.gohtml"}}
<body>
{{template "navBar.gohtml"}}
<main>

  <h2>
    <span id="titleSpan">
  </h2>
  
  <div id="homeDescription">
    <p class="text-justify px-100">Currently, I am a PhD student in Earth and Environmental Science department at New Mexico Tech. I study water movements both on the surface and underground using computational modeling, numerical and inversion methods. My main focus during my PhD program is to develop a new physics-based model to quantify bedload transportation in ephemeral channels using surrogate monitoring methods including a combination of different instruments. This is my homepage site and where I can store some "random thoughts" mostly in the Vietnamese language. If you would like to collaborate or discuss any ideas, don't hesitate to <a id="contactLink" data-target="#carousel" data-slide-to="3" href="#">contact me</a>!
    </p>
  </div>

</main>
{{/* {{template "footer.gohtml"}} */}}
</body>
</html>